* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-page {
  height: 100vh;
  background: #f9dbf1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 900px;
  height: 500px;
  background: #fff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.login-left {
  width: 45%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.login-left-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(228, 108, 174, 0.85), rgba(209, 107, 165, 0.70));
  position: relative;
}

.login-left-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}


.login-left-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.login-right {
  width: 55%;
  padding: 60px;
  text-align: center;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #d16ba5;
  border-radius: 50%;
  margin: 0 auto 15px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.input-group input:focus {
  border-color: #a83264;
}

.forgot {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #a83264;
  margin-bottom: 30px;
  cursor: pointer;
}

.login-btn {
  background: #a83264;
  border: none;
  padding: 12px 40px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
} /* REGISTER: malo manji padding da sve stane */
.register-right {
  padding: 40px;
}

/* 2 stupca za inpute */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 22px;
  margin-top: 10px;
}

/* Boje blok */
.colors-block {
  margin-top: 10px;
  text-align: left;
}

.colors-label {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}


.picker-wrap {
  transform: scale(0.78);
  transform-origin: left top;
  margin-bottom: -35px;
}

.colors-preview {
  margin-top: 10px;
}

.color-dot {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
